@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

@import url("https://fonts.googleapis.com/css?family=Pacifico");

body {
  background-color: rgb(184, 198, 225);
  font-family: "Raleway", Helvetica, sans-serif;
}

h1 {
  text-align: center;
  font-family: "Pacifico", cursive;
  text-shadow: 2px 2px 8px crimson;
}

form {
  display: flex;
  width: 80%;
  background-color: rgb(245, 245, 245);
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 6px;
}

.field-container {
  display: flex;
  width: 100%;
  margin: 10px;
  padding-top: 20px;
}

.field-input,
.field-label {
  width: 100%;
}

.input-field {
  height: 25px;
  min-width: 200px;
}

.field-label {
  text-align: right;
  padding-right: 20px;
}

ul {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}

li input {
  margin-right: 10px;
  margin-bottom: 5px;
}

#submit {
  background-color: black;
  color: white;
  border-radius: 4px;
  font-size: 1em;
  height: 40px;
  width: 96px;
  margin: 10px;
}

@media (max-width: 600px) {
  form {
    width: 96%;
    align-items: flex-start;
    margin-left: 2%;
    margin-right: 2%;
  }
  #submit {
    margin-left: 40%;
  }
}

@media (max-width: 505px) {
  .field-container {
    flex-direction: column;
  }
  .field-container input {
    margin-top: 15px;
  }
  .field-label {
    text-align: left;
  }
}
